{% extends "pretixcontrol/base.html" %}
{% load i18n %}
{% load static %}


{% block content %}
<h2>{% trans "Accessibility Settings" %}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">
        {% trans "Save" %}
    </button>
</form>
<link rel="stylesheet" href="{% static "pretix_all_in_one_accessibility/css/aioa.css" %}">
<script type="application/javascript" src="{% static "pretix_all_in_one_accessibility/js/aioa.js" %}"></script>

{% endblock %}










